flask
gunicorn
pybase64
google-cloud-BigQuery
pandas
db_dtypes
google-cloud-logging
google-cloud-pubsub
swagger-gen
google-cloud-tasks
protobuf
sqlalchemy
sqlalchemy-bigquery
google-cloud-bigquery-storage
sqlalchemy-bigquery[geography]
geoalchemy2
shapely
sqlalchemy-json